// Documento

$size__content: 120rem;

// Tipografia

$font__font-family:	'Montserrat', helvetica, arial, sans-serif;
$font__font-size: 	1.6rem;
$font__line-height: 	1.5;


// Colores

$color__brand: 				#68b3b7;
$color__brand-light:		#3fd5de;
$color__brand-dark:			#1f2329;

$color__brand-secondary: 	#ff2155;
$color__brand-terciary: 	#c1ed00;

//$color__gray-dark:  		#232527; 
$color__gray:  	 			#232527; //Body copy
$color__gray-light: 		#686868; 
$color__gray-lighter:  		#f2f3f8;

$color__border: 	#dddddd;

