
/* Botones
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.btn,
button,
input[type="submit"],
input[type="reset"],
input[type="button"] {

	display: inline-block;
	//max-width: 80%;
	padding: 2rem 5rem;
	margin: 0 auto;

	background-color: $color__brand;
	color: $color__gray;

	text-align: center;
	text-transform: uppercase;
	font-size: 1.8rem;
	line-height: 100%;
	font-style: normal;
	font-weight: bold;
	text-decoration: none;
	letter-spacing: 2px;

	cursor: pointer;
	white-space: nowrap;
	user-select: none;
	-webkit-appearance: none;

	@include transicion;

	&:hover{
		border-color: $color__brand-secondary;
		color: $color__brand-secondary;
	}

	&:active,
	&:focus{
		color: $color__brand-terciary;
		outline: none;
	}

	&.btn--primary{
		border-color: $color__brand;
		color: $color__brand;
		a{
			color: $color__brand;
		}

	}

	&.btn--secondary{
		border-color: $color__brand-secondary;
		color: $color__brand-secondary;
		a{
			color: $color__brand-secondary;
		}

	}



	&.btn--primary:hover,
	&.btn--secondary:hover{
		color: $color__brand;
		border-color: $color__brand;
		a{
			color: $color__brand;
		}
	}



}

/* Media queries
–––––––––––––––––––––––––––––––––––––––––––––––––– */

@media only screen and (max-width: 768px) {
	.btn,
	button,
	input[type="submit"],
	input[type="reset"],
	input[type="button"] {
		padding: 1.5rem 2rem;

		font-size: 1.4rem;
	}
}

